a {
    color: white;
}

.paddtop {
    padding-top: 10px;
}

body {
    background-color: #001D32;
}

.nav > li > a {
    padding: 15px 32px;
}

.row.paddtop {
    padding: 20px;
}

.col-md-4 {
    padding-left: 0;
}

.navbar {
    margin-bottom: 0;
}

/*华商背景图*/
nav.navbar {
    background-image: url("../image/header-img.jpg");
    background-size: 100% 100%;
}

/*手机端和电脑端点击菜单时颜色*/
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: rgba(3, 49, 71, 0.76);
}

/*手机和电脑的首页选中的背景颜色*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
    background-color: #03142e;
}

/*手机端和电脑端菜单未点击时的字体颜色*/
.navbar-inverse .navbar-nav > li > a {
    color: white;
}

@media (min-width: 300px)and  (max-width: 992px) {

    /*手机端点击菜单时下落菜单的颜色*/
    .navbar-nav .open .dropdown-menu {
        background-color: rgba(29, 113, 136, 0.99);
    }

    /*手机端点击菜单时下落菜单的字体颜色*/
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }

    /*手机端轮播图高度*/
    .item {
        cursor: pointer;
        height: 210px;
    }

    .ico {
        width: 80px;
        height: 80px;
        cursor: pointer;
        margin-right: 5px;
    }

    .ico img {
        width: 80px;
        height: 80px;
        border-radius: 15px;
        /*background-color: #0095DE;*/
    }

    .ico img:nth-child(2) {
        display: none;
    }

    .ico-desc {
        margin: 0 13px 0 10px;
    }

    /*手机端校园风景图高度*/
    .landscape {
        height: 200px;
    }

    /*手机端无点击事件*/
    .big-pic {
        display: none !important;
    }
}

@media (min-width: 992px) {
    /*header部分的样式*/
    /*电脑端取消掉bootstrap默认点击事件*/
    .open .dropdown-menu {
        display: none !important;
    }

    /*取消掉bootstrap默认样式*/
    .navbar {
        border-radius: 0;
        border: none;
    }

    /*电脑端下落菜单显示*/
    .dropdown:hover .dropdown-menu {
        display: block;
    }

    /*下拉菜单*/
    .dropdown:hover {
        background-color: #fff;
    }

    /**/
    .nav.navbar-nav li:hover a {
        color: #001D32;
    }

    /*最后一个下落菜单向左移动*/
    .nav.navbar-nav li:last-child .dropdown-menu {
        left: -43px;
    }

    /*电脑端下落菜单的外间距*/
    .dropdown-menu .divider {
        margin: 10px 0;
    }

    .dropdown-menu {
        top: 99%;
        left: -1px;
    }

    /*电脑端下落菜单的内间距*/
    .dropdown-menu > li > a {
        padding: 8px 42px;
    }

    /*电脑端搜索框*/
    .search-nav {
        padding-top: 58px;
    }

    /*header部分的样式结束*/
    /*------轮播图部分的样式----------*/
    /*电脑端轮播图图片铺设的高度*/
    .item {
        cursor: pointer;
        height: 400px;
    }

    .carousel-indicators {
        bottom: 75px;
    }

    /*设置轮播图按钮间的间距*/
    .carousel-indicators .active,
    .carousel-indicators li {
        margin: 0 5px;
    }

    /*设置轮播图按钮大小*/
    .carousel-indicators li,
    .carousel-indicators .active {
        width: 13px;
        height: 13px;
    }

    /*轮播图的透明描述文字*/
    .carousel-caption {
        right: 0;
        left: 0;
        padding-bottom: 30px;
        background-color: rgba(8, 8, 9, 0.8);
    }

    /*覆盖bootstrap轮播图按钮默认位置样式*/
    .carousel-caption {
        right: 0;
        bottom: -31px;
        left: 0;
        padding-top: 23px;
        padding-bottom: 57px;
    }

    /*------轮播图部分的样式结束----------*/
    /*ico图标翻转效果*/
    .ico img {
        width: 80px;
        height: 80px;
        border-radius: 15px;
        /*background-color: #0095DE;*/
        position: absolute;
        top: 0;
        left: 0;
        transition: all, 1s;
    }

    .ico img:nth-child(2) {
        width: 78px;
        height: 78px;
        top: 1px;
        left: 1px;
    }

    .ico {
        width: 80px;
        height: 80px;
        position: relative;
        perspective: 1000px;
        margin-right: 5px;
    }

    .ico img:first-child {
        z-index: 1;
        backface-visibility: hidden;
        /*不是还正面对向屏幕就隐藏*/
    }

    .ico:hover img {
        transform: rotateY(-180deg);
    }

    .ico-container {
        display: none;
    }

    /*电脑端校园风景图高度*/
    .landscape {
        height: 140px;
        cursor: pointer;
    }

    /*.landscape:hover {*/
    /*width: 600px;*/
    /*height: 280px;*/
    /*}*/
    /*风景大图显示*/
    .big-pic {
        position: absolute;
        top: -90px;
        right: 278px;
        background-color: #ddd;
        width: 800px;
        height: 300px;
        display: none;
        z-index: 100;
    }

    .big-pic img {
        border-radius: 15px;
    }

}

/*以前写的样式,稍微删改*/

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.f-r {
    float: right;
}

.f-l {
    float: left;
}

.top-body {
    background-color: #001D32;
}

.middle-body {
    background-color: #F9F9F9;
}

.region-middle-left-top,
.region-middle-right-top,
.region-middle-left-bottom,
.region-middle-right-bottom {
    position: relative;
}

.carousel-caption h5 {
    margin: 0;
    color: white;
}

.carousel-caption h5:hover {
    text-decoration: underline; /*下划线*/
}

/*新闻标题*/
.block-title h2 {
    border-bottom: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #03142e;
}

/*新闻栏文本格子*/
.news-content {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed #e2e2e2;
    white-space: nowrap; /*文本不换行*/
}

/*设置news标题和时间的下划线字体*/
.news-content span,
.news-title a {
    font-size: 14px;
    color: #555;
}

/*设置新闻标题*/
.news-title {
    padding-right: 33px;
    margin-left: 14px;
    overflow: hidden; /*溢出隐藏*/
    text-overflow: ellipsis; /*显示省略符号来代表被修剪的文本*/
    white-space: nowrap; /*设置段落中的文本不进行换行*/
}

/*设置左右内边距和下外边距*/
.text-distance {
    padding-right: 7px;
    margin-bottom: 7px;

}

/*more按钮*/
.more-link {
    position: absolute;
    font-size: 0;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 17px;
    background-image: url("../image/redmore.gif")
}

/*教师栏*/
.teacher-content {
    padding: 20px 0 20px 20px;
    float: left;
}

.t-name {
    width: 100%;
    height: 40px;
    background-color: rgba(3, 20, 46, 0.8);
    color: white;
    display: block;
    text-align: center;
    line-height: 40px;
}

/*------脚部------*/

.footer {
    background-color: #03142e;
    color: white;
}

/*.footer-body {*/
/*!*width: 1200px;*!*/
/*!*margin: 0 auto;*!*/
/*}*/

/*.footer-box {*/
/*!*width: 400px;*!*/
/*}*/

.footer-body p {
    font-size: 14px;
    line-height: 120%;
    list-style: none;
    margin-bottom: 10px;
    margin-top: 7px;
}
